.brands-slider {
    /* overflow: hidden; */
    width: 100%;
    margin-top: 20vh;
    background-color: #f5f5f5;
    padding: 10px 0;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .brands-track {
    display: flex;
    width: 200%;
    animation: rotateLogos 15s linear infinite;
  }
  
  .brand-logo {
    width: 100px;
    height: 70px;
    margin: 0 90px;
  }
  
  @keyframes rotateLogos {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-30%);
    }
  }
  